//noinspection CssInvalidAtRule
@import-normalize;
@import "components/Constants";
@import "components/Text";
@import "components/Input";
@import "components/Buttons";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $color-text-default;
}

a {
  color: $color-link;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.route-content {
  flex: 1 0 auto;
  padding: 16px;
  background-color: $color-screen-background;
}