$color-screen-background: #f5f8fd;

$color-link: #58a6ff;
$color-navigation-inactive: #222;
$color-navigation-active: #6a1e57;

$color-inactive: #e7e7e7;
$color-highlight: #6a1e57;

$color-surface: #fff;

$color-shadow: #c7c7c7;
$shadow-elevation-4: 1px 4px 6px #c7c7c7;