@import "Constants";

// Surface is used to create a separate section in the screen to group controls.
.surface {
  background-color: $color-surface;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $color-border;

  &.elevated {
    box-shadow: $shadow-elevation-2;
  }
}