@import "Constants";

.top-navigation {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  li {
    list-style: none;
    a {
      display: inline-block;
      padding: 8px 16px;
      color: $color-navigation-inactive;
      text-decoration: none;
      font-weight: bold;

      &.active {
        color: $color-navigation-active;
        border-bottom: 1px solid $color-navigation-active
      }
    }

  }
}